{% extends 'base.html' %}

{% block title %}Про нас{% endblock %}

{% block body %}

<div class="container mt-5 text-custom">
    <h1>Best Tasks</h1>
    <p>У сучасному світі, де час — це гроші, важливо мати можливість ефективно управляти своїми завданнями. І тут на допомогу приходить веб-додаток Best Tasks, створений компанією Best, що розшифровується як Bezman Efficient Solutions and Technologies. Цей додаток, розроблений одним ентузіастом за рекордно короткий термін — всього за місяць, став справжнім рятівником для багатьох людей, які прагнуть оптимізувати свою роботу та організувати своє життя.</p>

    <p><h3>Основні функції</h3></p>
    <p>Best Tasks пропонує безліч корисних функцій, які дозволяють користувачам максимально використовувати свій потенціал:</p>
    <p>
        <ul>
            <li>Створення проектів: Кожен користувач може легко створити новий проект, який стане основою для подальшої роботи над завданнями.</li>
            <li>Керування завданнями: У межах проекту можна додавати, редагувати або видаляти завдання, що дає можливість адаптувати робочий процес під власні потреби.</li>
            <li>Коментування завдань: Користувачі можуть залишати коментарі під завданнями, що спрощує обговорення ідеї та забезпечує зворотній зв’язок.</li>
            <li>Додавання друзів до проектів: Best Tasks дозволяє запрошувати друзів або колег до спільної роботи над проектами, що робить командну роботу більш зручною та продуктивною.</li>
            <li>Терміни та статуси: У завдань є можливість встановлення термінів виконання та статусів (наприклад, "виконано", "в процесі"), що дозволяє відстежувати прогрес і дотримуватися графіка.</li>
        </ul>
    </p>
</div>
{% endblock %}
